<div class="updateProfileMainCon">
  <mat-card class="updateProfileHeading" style="    text-align: center;
  font-size: 23px;font-family: cursive;">
    <span>{{'User Profile' }}</span>
    <button (click)="logoutUser()" mat-raised-button color="primary" style="position: absolute;
    right: 10px;top:6px">Logout</button>
  </mat-card>
  <div class="updateProfileData">
    <div >
      <div style="padding: 10px;">
        <div style="height: 150px;background-color: #fb6a6a;">
          <div style="text-align: center;margin: 10px;">
            <span class="material-icons" style="font-size: 80px;color: white;
      border: 2px solid;border-radius: 100px;margin-top: 15px;">person_outline</span>
          </div>
          <div style="text-align: center;">
            <span style="color: white;">Name :- {{userLoginData?.name}}</span>
          </div>
        </div>
        <div class="profile-details" >
          <div style="border-right: 1px solid #eaeaea;">
            <span>UserID :- </span>
            <span>{{userLoginData?.userId}}</span>
          </div>
        </div>

        <div class="profile-details" >
          <div style="border-right: 1px solid #eaeaea;">
            <span>Email :- </span>
            <span>{{userLoginData?.email}}</span>
          </div>
        </div>

        <div class="profile-details" >
          <div  style="border-right: 1px solid #eaeaea;">
            <span>Mobile No :- </span>
            <span>{{userLoginData?.mobNumber}}</span>
          </div>
        </div>
        <div class="profile-details">
          <div   style="border-right: 1px solid #eaeaea;">
            <span>Role :- </span>
            <span>{{userLoginData?.role}}</span>
          </div>
         
        </div>
        <div class="profile-details">
          <div fxFlex='25'  style="border-right: 1px solid #eaeaea;">
            <span>Address :- </span>
            <span>{{userLoginData?.address}}</span>
          </div>
        </div>
      


      </div>
      <div fxFlex='50' fxFlex.md="50" fxFlex.sm="100" fxFlex.xs="100">
        <form #myForm="ngForm" [formGroup]="myRegisterForm" (ngSubmit)="submitForm()" novalidate>
          <div fxLayout='column' style="align-items: center;margin: 20px;">
            <mat-form-field appearance="outline" style="width: 75%">
              <mat-label>Name</mat-label>
              <input matInput placeholder="Name" formControlName="name" autocomplete="off">
            </mat-form-field>
            <!-- MobileNumber -->
            <mat-form-field style="width: 75%" appearance="outline">
              <mat-label>mobileNumber</mat-label>
              <input matInput placeholder="mobileNumber" pattern="[5-9]{1}[0-9]{9}" formControlName="mobNumber"
                autocomplete="off">
            </mat-form-field>
            <!-- email -->
            <mat-form-field style="width: 75%" appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput placeholder="Email" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                formControlName="email" autocomplete="off">
            </mat-form-field>
            <!-- Address -->
            <mat-form-field style="width: 75%" appearance="outline">
              <mat-label>Address</mat-label>
              <input matInput placeholder="Address" formControlName="address" autocomplete="off">
            </mat-form-field>
            <div>
              <button mat-flat-button color="primary">{{'Update' }}</button>
            </div>
          </div>
        </form>
      </div>
    </div>


  
  </div>


</div>